* {
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
}
body {
  padding-top: 90px;
}

/* ON */
.on {
  display: block;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  background-color: #373737;
  z-index: 9999;
}

.section .inner {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}


header .logo > a {
  background: url(Img/top_logoW.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 120px;
  height: 90px;
  display: block;
  /* margin-left: 150px; */
  margin-right: 100px;
  margin-left: 50px;
  text-indent: -9999px;
}

header .gnb {
  display: flex;
  text-align: center;
}
header .gnb > li {
  padding-left: 50px;
  height: 410px;
}

header .gnb > li > a {
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 37px;
}
header .gnb > li > a > span {
  display: block;
  width: 70px;
  position: relative;
}

header .gnb > li > a > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s;
}

header .gnb > li > a > span:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.1s;
}

header .subCover {
  width: 100%;
  background-color: #fff;
  height: 320px;
  position: fixed;
  top: 90px;
  z-index: -1;
  opacity: 90%;
  display: none;
}
header .sub-gnb {
  margin-top: 35px;
}
header .sub-gnb li {
  padding: 10px 0px;
  margin-left: 40px;
  width: 100px;
  text-align: left;
  display: none;
}
header .sub-gnb li a {
  color: #000000;
}

header .sub-gnb li a:hover {
  color: #333ccc;
  font-weight: 600;
}

/* MAIN */

.mainFirst {
  background: url(Img/MainImg/layer1.png);
  height: 100vh;
  width: 100%;
}
.mainFirst_intro {
  padding-top: 150px;
  color: #fff;
  width: 800px;
  margin: 0 auto;
  text-align: center; 
  font-weight: 100;
}
.mainFirst_intro p {
  margin-bottom: 30px;
}
.mainFirst_intro .titleFirst {
  font-size: 22px;
  font-weight: 500;
}
.mainFirst_intro .titleSecond {
  color: #000000;
  font-size: 55px;
  font-weight: 600;
}
.mainFirst_intro .titleThird {
  font-size: 25px;
  margin-bottom: 25px;
}
.mainFirst_intro .des {
  line-height: 1.25;
}
.mainFirst_intro .detail {
  border: 1px solid;
  width: 100px;
  margin: 0 auto;
  padding: 12px 45px;
  cursor: pointer;
  margin-bottom: 60px;
  font-size: 18px;
  color: rgba(255,255,255,0.8)

}
.mainFirst_intro .detail a {
  color: rgba(255,255,255,0.8)
}

figure {
  width: 750px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.mainFirst figure .leftImg {
  background: url(Img/MainImg/main1left.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-y: 15px;
  width: 300px;
  height: 220px;
  display:inline-block;
  position: absolute;
  left: 0px;
}
.mainFirst figure .centerImg {
  background: url(Img/MainImg/main1center.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 300px;
  height: 220px;
  display:inline-block;
  position: absolute;
  left: 220px;
  z-index: 1000;
}
.mainFirst figure .rightImg {
  background: url(Img/MainImg/main1right.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-y: 15px; 
  width: 300px;
  height: 220px;
  display:inline-block;
  position: absolute;
  left: 490px;
}

.mainSecond {
  background: url(Img/MainImg/layer2.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  /* display: none; */
}


/* .topImg {
  background: url(companyInfo.png);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -9999px;
}

.contentsTitle {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  position: realtive;
}

.contentsTitle::after {
  display: block;
  content: '';
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
} */

footer {
  width: 100%;
}
.footer-top {
  height: 330px;
  background-color: #51B4F9;
}
.footer-top>.inner>ul {
  display: flex;
  justify-content: space-around;
}
.footer-top>.inner>ul>li {
  flex-basis: 150px;
}

.footer-top li a {
  color: #fff;
  width: 100px;

}
.footer-top .inner>ul>li>a {
  font-size: 25px;
  display: block;
  margin: 30px 0px;
}
.footer-top .inner>ul>li>ul>li>a {
  display:block;
  margin: 15px 5px 0;
  color: rgba(255,255,255,0.9);
}
.footer-bottom {
  height: 110px;
  background-color: #fff
}
.footer-bottom .inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-bottom .leftImg {
  background: url(Img/bottom_logo.png);
  width: 200px;
  height: 60%;
  background-repeat: no-repeat;
}
.footer-bottom text {
  display: block;
}
.footer-bottom span p {
  font-size: 14px;
}
.footer-bottom .rightImg {
  background: url(Img/bottom_icon.png);
  width: 25%;
  height: 60%;
  background-repeat: no-repeat;
  float:right;
}